
@import url('style_mobile.css') screen and (orientation: portrait);
@import url('style_desktop.css') screen and (orientation: landscape);

@font-face {
    font-family: 'LeckerliOne-Regular';
    src: url(../fonts/LeckerliOne-Regular.ttf);
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-R.ttf);
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #EEEEEE;
    line-height: 1.4;
}

h1, h2 {
    text-align: center;
}

a, a:active, a:visited {
    text-decoration: none;
    color:darkcyan;
}

aside li {
   list-style: none;
}

article {
    text-align: center;
}

article figure {
    margin-top: 3%;
}
figure {
    text-align: center;
}

figure img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
