body {
    position: absolute;
    left: 0;
    top: 0;
}

main {
    min-height: 85%;
    position: relative;
    display: flexbox;
    float: right;
    max-width: 74%;
    border: 2px solid grey;
    margin-top: 2%;
}

article h1 {
    font-size: 40px;
}
.portraitBubble
{
    display: none;
}


article p {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
}

aside {
    position:sticky;
    top: 2%;
    left: 0;
    margin-top: 2%;
    margin-left: 2%;
    border: 1px solid grey;
    max-width: 22%;
    word-break: break-all;
}

aside h1:first-of-type {
    font-family: 'LeckerliOne-Regular';
    color: darkcyan;
}


aside img {
    width: 100%;
}

figure {
    min-width: 725px;
    border: 2px solid lightgrey;
    display: inline-table;
}
figure figcaption {
    text-align: center;
    font-size: 18px;
}

li {
    height: auto;
    margin-left: 5%;
    margin-bottom: 5%;
}

li img {
    display: inline-block;
    width: 15%;
    min-width: 25px;
    height: auto;
}

li p, li a {
    font-size: 18px;
    display: inline-flex;
    margin-left: 3%;
}

















