
@import url('style_mobile.css') screen and (orientation: portrait);
@import url('style_desktop.css') screen and (orientation: landscape);

@font-face {
    font-family: 'LeckerliOne-Regular';
    src: url(../fonts/LeckerliOne-Regular.ttf);
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-R.ttf);
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #EEEEEE;
    line-height: 1.4;
}

h1, h2 {
    text-align: center;
}

a, a:active, a:visited {
    text-decoration: none;
    color:darkcyan;
}

.mainText {
    font-size: 18px;
}

.mainTextWrapper{
    text-align: center;
    margin: 0 auto;
}

.showcaseWrapper {
    margin-top: 3%;
}

.bottomText {
    display: grid;
    text-align: center;
    padding: 10px 20px;
}
.polaroid {
    display: inline-table;
    text-align: center;
}

.polaroid img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
