@import url('style_mobile.css') screen and (max-width: 800px);
@import url('style_mobile.css') screen and (orientation: portrait);
@import url('style_desktop.css') screen and (min-width: 801px);

@font-face {
    font-family: 'LeckerliOne-Regular';
    src: url(../fonts/LeckerliOne-Regular.ttf);
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-R.ttf);
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #EEEEEE;
    line-height: 1.4;
}

h1, h2 {
    text-align: center;
}

a, a:active, a:visited {
    text-decoration: none;
    color:darkcyan;
}

.bottomText {
    display: grid;
    text-align: center;
    padding: 10px 20px;
}
