
.portraitBubble {
    text-align: center;

}

.portraitBubble h1 {
    font-family: 'LeckerliOne-Regular';
    color: darkcyan;
    display: block;
}
.portraitBubble img
{
    width: 20%;
}

.mainText {
    margin: 6%;
    margin-top: 0%;
    font-size: 22px;
}
.polaroid {
    border: 2px solid lightgrey;
    margin-bottom: 2%;
    text-align: center;
    max-width: 90%;
}

.listContainer p, .listContainer a {
    display: inline-flex;
    margin-left: 1%;
}

.bottomText {
    font-size: 20px;
}

.sideBar {
    display:flex;
    text-align: center;
    word-break: break-all;
    justify-content: space-around;
    font-size: 20px;
}

.sideBar .listContainer {
    max-width: 15%;
}


.sideBar img:first-of-type  {
    display: none;
}
.sideBar h1 {
    display: none;
}.sideBar h2 {
    display: none;
}

.sideBar .listContainer img {
    display:inline;
    width: 50%
}